<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Szacowanie Wyników Meczów</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(function() {
        $.get("/static/teams.csv", function(data) {
            var teams = data.split(";");
            $("#team1, #team2").autocomplete({
                source: teams
            });
        });
    });
    </script>
</head>
<body>
    <div class="container">
        <h1>Szacowanie Wyników Meczów</h1>
        <form action="{{ url_for('redirect_page') }}" method="post">
            <div class="teams-input">
                <div class="team">
                    <label for="team1">Drużyna 1:</label>
                    <input type="text" id="team1" name="team1" placeholder="Wpisz nazwę drużyny" required>
                </div>
                <div class="team">
                    <label for="team2">Drużyna 2:</label>
                    <input type="text" id="team2" name="team2" placeholder="Wpisz nazwę drużyny" required>
                </div>
            </div>
            <input type="submit" value="Porównaj Drużyny">
        </form>
    </div>
</body>
</html>