<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Szacowanie Wyników Meczów</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Szacowanie Wyników Meczów</h1>
        <form action="{{ url_for('redirect_page') }}" method="post">
            <div class="teams-input">
                <div class="team">
                    <label for="team1">Drużyna 1:</label>
                    <input type="text" id="team1" name="team1" placeholder="Wpisz nazwę drużyny" required>
                </div>
                <div class="team">
                    <label for="team2">Drużyna 2:</label>
                    <input type="text" id="team2" name="team2" placeholder="Wpisz nazwę drużyny" required>
                </div>
            </div>
            <input type="submit" value="Porównaj Drużyny">
        </form>
    </div>
</body>
</html>
