<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wyniki meczów</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Przewidywany zwycięzca:</h1>
        <div class="teams-results">
            <div class="team-result">
                <h2 id="team1-name">Drużyna 1</h2>
                <table>
                    {{ team1 }}
                </table>
            </div>

            <div class="team-result">
                <h2 id="team2-name">Drużyna 2</h2>
                <table>
                    {{ team2 }}
                </table>
            </div>
        </div>
        <button class="back-btn" onclick="window.history.back()">Powrót</button>
    </div>
</body>
</html>